* {
	padding: 0;
	margin: 0;
}
div {
	width: 100%;
	height: 48px;
	background-color: black;
	text-align: center;
	font-size: 14px;
	font-family: "San Francisco Display";
}
a {
	margin: 0 44px;
	display: inline-block;
	line-height: 48px;
	text-decoration: none;
    color: white;
}
.a1 {
	background-color: #444444;
	height: 40px;
}
.a21 {
	width: 18px;
	height: 18px;
	background: url(../img/apple.png) no-repeat center;
}
.a22 {
	font-family: 苹方;
	font-size: 12px;
}
.a23 {
	width: 18px;
	height: 18px;
	background: url(../img/ss.png) no-repeat center;
}
.a24 {
	width: 18px;
	height: 18px;
	background: url(../img/gwd.png) no-repeat center;
}
a:hover {
	color: rgb(210,210,210);
	transition: color .4s;
}
.a21:hover {
	width: 18px;
	height: 18px;
	background: url(../img/apple1.png) no-repeat center;
}
.a23:hover {
	width: 18px;
	height: 18px;
	background: url(../img/ss1.png) no-repeat center;
}
.a24:hover {
	width: 18px;
	height: 18px;
	background: url(../img/gwd1.png) no-repeat center;
}
