* {
			margin: 0;
			padding: 0;
		}
		li {
			display: inline-block;
		}
		.top {
			height: 60px;
			background-color: #87ceeb;
		}
		.top-inner {
			height: 60px;
			width: 910px;
			background-color: #ababab;
			margin: 0 auto;
		}
		.banner {
			margin: 10px auto;
			width: 910px;
			height: 100px;
			background-color: #ffc0cb;
		}
		div.mian {
			width: 100%;
			height: 690;
		}
		div.mian-down {
			margin: 0 auto;
			width: 910px;
			height: 240px;
			background-color: #ffff00;
		}
		ul.m-d-down {
			float: right;
			margin: 0;
		}
		ul.m-d-down>li {
			width: 220px;
			height: 220px;
			background-color: #ffa500;
			float: right;
		}
		li.m-d-d-left {
			margin-left: 5px;
			margin-right: 10px;
		}
		li.m-d-d-right {
			margin-left: 10px;
			margin-right: 5px;
		}
		div.m-d-up {
			margin: 0;
			width: 910px;
			height: 20px;
			background-color: #800080;
			float: right;
		}
		div.mian-up {
			margin: 0 auto;
			width: 910px;
			height: 450px;
			background-color: #ff0000;
		}
		ul.m-u-down {
			float: right;
			margin: 0;
		}
		ul.m-u-down>li {
			width: 220px;
			height: 440px;
			background-color: #ffa500;
			float: right;
		}
		li.m-u-d-left {
			margin-left: 5px;
			margin-right: 10px;
		}
		li.m-u-d-right {
			margin-left: 10px;
			margin-right: 5px;
		}
		div.m-u-up {
			margin: 0;
			width: 910px;
			height: 10px;
			background-color: #800080;
			float: right;
		}
		.footer {
			width: 100%;
			height: 60px;
			background-color: #87ceeb;
			margin: 0;
		}